cached-property==1.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
corner==2.2.3
cuthon==0.5
cycler==0.12.1
Cython==0.29.23
docopt==0.6.2
h5py==3.13.0
idna==3.10
kiwisolver==1.4.8
matplotlib==3.10.3
mpi4py==4.0.3
numpy==1.26.4
pandas==2.2.3
Pillow==11.2.1
pipreqs==0.4.11
pymultinest==2.12
pyparsing==3.2.3
python-dateutil==2.9.0
pytz==2025.2
requests==2.32.3
scipy~=1.15.3
selenium==4.32.0
six==1.17.0
spectres~=2.2.2
typing_extensions==4.13.2
urllib3==2.4.0
yarg==0.1.9

PyYAML~=6.0
astropy~=6.1.7
setuptools~=66.1.1
deepdiff~=8.5.0
ipdb~=0.13.11
molmass~=2025.4.14
nautilus-sampler~=1.0.5